<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item><ion-input type="text" [(ngModel)]="post.name"> </ion-input></ion-item>
  <ion-item><ion-input type="text" [(ngModel)]="post.job"> </ion-input></ion-item>
  <!-- <ion-item><ion-input type="text" [(ngModel)]="post.last_name"> </ion-input></ion-item> -->
  <!-- <ion-item><ion-input type="date" [(ngModel)]="post.createdAt"> </ion-input></ion-item> -->
  <!-- <ion-button (click)="submit()">SIMPAN DATA</ion-button> -->

  <ion-button (click)="add()">Add</ion-button>
  <ion-button (click)="edit()">Edit</ion-button>
  <ion-button (click)="presentConfirm()">Delete</ion-button>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
